image:
  - Ubuntu
  - Visual Studio 2017
version: '{build}'
pull_requests:
  do_not_increment_build_number: true
skip_branch_with_pr: true
configuration: Release
environment:
  APPVEYOR_YML_DISABLE_PS_LINUX: true
  MYGET_API_KEY: # We do not want to use myget, due to errors regarding size

branches:
  except:
    - ci/travis
    - /^dependabot\/.*/

matrix:
  fast_finish: true

build: off
test: off
deploy: off

install:
- sh: sudo apt-get update && sudo apt-get install -y libgit2-dev

build_script:
  - ps: .\build.ps1 --target=CI --configuration=$env:CONFIGURATION --verbosity=Diagnostic
  - sh: ./build.sh --target=CI --configuration=$CONFIGURATION --verbosity=Diagnostic


cache:
  - 'tools -> build.config,recipe.cake'
  - 'src/Cake.Warp/warp -> recipe.cake'
  - '.dotnet -> build.config'

for:

-
  matrix:
    only:
      - image: Ubuntu
  # We blank out the following environment variables
  # as we do not want these tasks to be run on
  # the ubuntu image.
  environment:
    GITHUB_PASSWORD:
    GITHUB_TOKEN:
    NUGET_API_KEY:
    AZURE_PASSWORD:
    GPR_PASSWORD:
    GITTER_TOKEN:
    SLACK_TOKEN:
    TWITTER_CONSUMER_KEY:
    TWITTER_ACCESS_TOKEN:
    TWITTER_ACCESS_TOKEN_SECRET:
    EMAIL_SMTPHOST:
    TRANSIFEX_API_TOKEN:
    WYAM_ACCESS_TOKEN:
