---
Title: Cake.Warp
NoSidebar: true
NoContainer: false
NoGutter: false
---

<div class="container-fluid">
	<h1>What is it?</h1>
    <p>
        Cake.Warp is an addin for the Cake Build script adding support for creating stand-alone platform specific
        binaries on Linux, MAC OSX, and Windows.
    </p>

    <h2>Where to get it</h2>
    <p>
        Officially published versions are available on
        <a href="https://www.nuget.org/packages/Cake.Warp/" target="_blank">
            NuGet
        </a>.
        While development versions are made available using the following nuget end point:
        <a href="https://ci.appveyor.com/nuget/cake-warp">
            https://ci.appveyor.com/nuget/cake-warp
        </a>
        Every build produces nuget packages on this feed, be it official builds,
        Pull Requests, or anything between. As such, it is very important to
        pin the version used in your build script.
    </p>

    <h3>Cake support</h3>
    <p>
        This addin targets .NET Standard 2.0 framework and .NET 4.6.1,  which
        allows you to use the addin with either Cake, Cake.CoreCLR or Cake.Tool.
    </p>
</div>
